/* Header Background */ 
.BgHead {
	background-image: url(imagenes/lineas.gif);
	height: 34px;
}


/* Link Styles */ 

a:link {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: xx-small; 
	color: #004F98; 
	text-decoration: none; 
}

a:visited {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: xx-small; 
	color: #004F98; 
	text-decoration: none; 
}

a:hover {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: xx-small;
	color: #004F98; 
	text-decoration: underline;
}

.enlaces {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #004F98;
	text-decoration: none;
	font-weight: normal;
}

a.enlaces:link {  
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #004F98;
	text-decoration: none; 	
}

a.enlaces:visited {  
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #004F98;
	text-decoration: none;
}

a.enlaces:hover {  
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #004F98;
	text-decoration: underline;
}

.EnlacesMenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #004F98;
	text-decoration: none;
	font-weight: bold;
}

.EnlacesMenu:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #004F98;
	text-decoration: none;
	font-weight: bold;
}

.EnlacesMenu:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #004F98;
	text-decoration: none;
	font-weight: bold;
}

.EnlacesMenu:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #004F98;
	text-decoration: underline;
	font-weight: bold;
}

/* Form Input Style*/
.Formas { font-family: Arial, Helvetica, sans-serif; font-size: 11; color: #004F98;}
input { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #004F98; border: 1px solid #004F98 }
radio { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #004F98; border: 1px solid #004F98 }
select { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #004F98; border: 1px solid #004F98 }
textarea { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #004F98; border: 1px solid #004F98 }

.Buttons {
	font-family: Arial, Helvetica, sans-serif; font-size: 11; color: #FFFFFF;  
	border-bottom-width: 2px; 
	border-bottom-style: solid;
	border-bottom-color: #004F98;
	border-right-width: 2px; 
	border-right-style: solid;
	border-right-color: #004F98;
	border-left-width: 2px; 
	border-left-style: solid;
	border-left-color: #A5C5E2;
	border-top-width: 2px; 
	border-top-style: solid;
	border-top-color: #A5C5E2;
	background-color: #4487C4; 
}
 
.TituloAzulMediano {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #004F98;
	font-weight: bold;
}

.TituloAzulGrande {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #004F98;
	font-weight: bold;
}

.BgRojo {
	background-color: #CC3300;
}

.BgBlue{
	background-color: #E86F2A;
}

.BgGrisGradient {
	background-image: url(imagenes/bgGris.gif);
	height: 25px;
	vertical-align: middle;
}

.BgGrisBottomClaro {
	vertical-align: middle;
	border-bottom-color: #666666;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-color: #EFEFEF;
}

.BgGrisBottomOscuro {
	vertical-align: middle;
	border-bottom-color: #666666;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-color: #ECECEC;
}

.BgGrisClaro {
	background-color: #EFEFEF;
}

.BgGrisOscuro {
	background-color: #E0E0E0;
}

.TextoNormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #333333;	
	font-weight: normal;
}

.BgNaranjaBottom {
	vertical-align: middle;
	border-bottom-color: #666666;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-color: #f68121;
	height: 20px;
}

.TituloBlancoGrande {
	font-family: Arial, Helvetica, sans-serif;
	font-size: Medium;
	color: #FFFFFF;
	font-weight: bold;
}

.TituloBlancoMediano {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FFFFFF;
	font-weight: bold;
}

.TituloBlancoPequeno {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FFFFFF;
	font-weight: bold;
}

.TituloRojoGrande {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FF0000;
	font-weight: bold;
}

.TituloRojoMediano {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FF0000;
	font-weight: bold;
}

.TituloRojoPequeno {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #FF0000;
	font-weight: bold;
}

.TextoError {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FF0000;
}

.TituloNegroGrande {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #333333;
	font-weight: bold;
}
.BGblancoHCenter {
	background-color: #FFFFFF;
	border-top-width: 4px;
	border-right-width: 4px;
	border-bottom-width: 4px;
	border-left-width: 4px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	padding-top: 2px;
	padding-bottom: 6px;
}
.BgGrisMASOscuro {
	background-color: silver;
	color: #FFFFFF;
}
.BGVerde {

	background-color: #009900;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 2px;
	padding-bottom: 6px;
}
.BgAzul {

	background-color: #004f98;
}
.EnlacesMenuSub {

	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}
.EnlacesMenuROJO {


	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #cc3300;
	text-decoration: none;
	font-weight: bold;
}
.EnlacesMenuSubsub {


	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
}
.BGblancoBorderDer {
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	padding-top: 2px;
	padding-bottom: 6px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.EnlacesMenuSubSmall {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}
.EnlacesMenuROJOSmall {



	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #cc3300;
	text-decoration: none;
	font-weight: bold;
}
.EnlacesMenuSubsubSmall {



	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #333333;
	text-decoration: none;
	font-weight: bolder;
}
.EnlacesMenuBlanco {



	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.EnlacesMenuBlueSUB {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #004F98;
	text-decoration: none;
	font-weight: bolder;
}

.Iframe { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #004F98; border: 1px solid #004F98 }
